<script>
    function shareLocation() {
        var zoom = map.getZoom().toString().split('.'); zoom = zoom[0];

        var coord = map.getCenter().toString().split(', ');
        var lat = coord[0].split('('); lat = lat[1].substr(0,7);
        var lng = coord[1].split(')'); lng = lng[0].substr(0,7);

        let baseLink = location.href.split('/');
        let shareLink = baseLink[0]+"//"+baseLink[2]+"/"+baseLink[4]+"/?location="+zoom+"/"+lat+"/"+lng;
        history.pushState(null,null,shareLink);
        navigator.clipboard.writeText(shareLink);
    };
</script>
