{% if page.lang == "lt" %}
    {% assign index = site.data.index.lt %}
{% elsif page.lang == "en" %}
    {% assign index = site.data.index.en %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ index.title.page }}</title>
    <style type="text/css">
        body { text-align: center}
    </style>
</head>
<body>
    <h1>{{ index.title.links }}</h1>
    <p><a href="/kauno-susisiekimo-projektu-breziniai">{{ index.kspb }}</a></p>
    <p><a href="/valstybines-reiksmes-keliu-projektiniai-breziniai">{{ index.vrspb }}</a></p>
    <h3><a href="/valstybines-reiksmes-keliu-rekonstrukcijos">{{ index.vrkr }}</a></h3>
    <p><a onclick="return changeLang('')" href="/">{{ index.lang }}</a></p>
    {% include kalba.html %}
</body>
</html>
