---
---
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" integrity="sha256-WCzAhd2P6gRJF9Hv3oOOd+hFJi/QJbv+Azn4CGB8gfY=" crossorigin="anonymous"></script>
</head>
<body>
    <script>
        var language = Cookies.get('lang');

        if (language === undefined || language != 'lt' && language != 'en') {
            language = navigator.language || navigator.userLanguage;
            language = language.substring( 0, 2 );
            
            if (language != 'lt')
                language = 'en';

            Cookies.set('lang', language, { expires: 365 });
        }

        document.title = "Redirecting...";

        const queryString = location.search;
        if (language == 'lt')
            location.href = "/lt"+"{{ page.permalink }}"+queryString;
        else if (language == 'en')
            location.href = "/en"+"{{ page.permalink }}"+queryString;
    </script>
</body>
</html>
