---
---
<!DOCTYPE html>
<html>
<head>
    <title>Setting language...</title>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" integrity="sha256-WCzAhd2P6gRJF9Hv3oOOd+hFJi/QJbv+Azn4CGB8gfY=" crossorigin="anonymous"></script>
    <script>
        var language = Cookies.get('lang');

        if (language === undefined || language != 'lt' && language != 'en') {
            language = navigator.language || navigator.userLanguage;
            language = language.substring( 0, 2 );
            
            if (language != 'lt')
                language = 'en';

            Cookies.set('lang', language, { expires: 365 });
        };
        
        const queryString = location.search;
        location.href = "/"+language+"{{ page.permalink }}"+queryString;
    </script>
</head>
</html>
