---
layout: zemelapis
---
{% if page.lang == "lt" %}
    {% assign sidebar = site.data.vrkr.lt.sidebar %}
{% elsif page.lang == "en" %}
    {% assign sidebar = site.data.vrkr.en.sidebar %}
{% endif %}
<script>
    // leaflet map setup
    let map = L.map('map', {
        minZoom: 9,
        maxZoom: 15
    });
    map.setView([54.89804, 23.90433], 10);
    
    // create sidebar
    var sidebar = L.control.sidebar({
        autopan: true
    }).addTo(map);

    // add panels to sidebars
    sidebar
        .addPanel({
            id: '{{ sidebar.legend.id }}',
            tab: '<i class="fa-solid fa-road"></i>',
            title: '{{ sidebar.legend.title }}',
            pane: `{{ sidebar.legend.pane }}`
        })
        /*.addPanel({
            id: 'naujienos',
            tab: '<i class="fa-solid fa-newspaper"></i>',
            title: '{{ sidebar.news.title }}',
            pane: '{{ sidebar.news.pane }}'
        })*/
        .addPanel({
            id: '{{ sidebar.share.id }}',
            tab: '<i class="fa-solid fa-share-from-square"></i>',
            title: '{{ sidebar.share.title }}',
            button: () => shareLocation()
        })
        .addPanel({
            id: '{{ sidebar.language.id }}',
            tab: '<i class="{{ sidebar.language.icon }}"></i>',
            title: '{{ sidebar.language.title }}',
            button: () => {
                changeLang();
                window.location.href = '{{ site.data.sites.vrkr }}';
            },
            position: 'bottom'
        })
        .addPanel({
            id: '{{ sidebar.error.id }}',
            tab: '<i class="fa-solid fa-triangle-exclamation"></i>',
            title: '{{ sidebar.error.title }}',
            button: 'https://github.com/kirstukas7/Zemelapis-Assets/issues',
            position: 'bottom'
        })
        .addPanel({
            id: '{{ sidebar.home.id }}',
            tab: '<i class="fa fa-house"></i>',
            title: '{{ sidebar.home.title }}',
            button: '/',
            position: 'bottom'
        });
</script>
{{ content }}
{% include share.html %}
<script src="/script/vrkr_stiliai.js"></script>
<script src="/script/vrkr.js"></script>
{% include kalba.html %}
