---
---
{% if page.lang == "lt" %}
    {% assign sidebar = site.data.vrkr.lt.sidebar %}
    {% assign notify = site.data.notifications.lt %}
    {% assign layer = site.data.vrkr.lt.layer %}
    {% assign changelang = 'en/' %}
{% elsif page.lang == "en" %}
    {% assign sidebar = site.data.vrkr.en.sidebar %}
    {% assign notify = site.data.notifications.en %}
    {% assign layer = site.data.vrkr.en.layer %}
    {% assign changelang = 'lt/' %}
{% endif %}
{% assign sites = site.data.sites %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <title>{{ page.title }}</title>
    <meta name="keywords" content="{{ sites.keywords }}"/>
    <meta name="author" content="{{ sites.author }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-sidebar-v2@3.2.3/css/leaflet-sidebar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-notifications@1.0.7/css/leaflet-notifications.min.css" integrity="sha256-9I1RAuM/Ap/7XuGX1Mq9BRPCWkxWist3BgibXRkk55E=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-groupedlayercontrol@0.6.1/dist/leaflet.groupedlayercontrol.min.css" integrity="sha256-2nki7eLxn91r/RI3QQq+ArnIltknk6gz4wSoQHFrJnA=" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/79c1797b6f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-sidebar-v2@3.2.3/js/leaflet-sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-rotatedmarker@0.2.0/leaflet.rotatedMarker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-notifications@1.0.7/js/leaflet-notifications.min.js" integrity="sha256-klFXpWxZeEvmTHlgWKUwg0e7mrEFEpYLOgKHfppS9Ss=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-groupedlayercontrol@0.6.1/dist/leaflet.groupedlayercontrol.min.js" integrity="sha256-jpTunCut/xbLZJF8NpoJiNL3FLfFTKv6xeGGrWo8whY=" crossorigin="anonymous"></script>

    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }

        .lorem {
            font-style: italic;
            text-align: justify;
            color: #AAA;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        // leaflet map setup
        var map = L.map('map', {
            minZoom: 9,
            maxZoom: 15,
            zoomSnap: 0.5,
            zoomDelta: 0.5,
            maxBounds: [
                [56.777, 20.071],
                [53.526, 27.853]
            ]
        }).setView([54.89804, 23.90433], 10);

        // create scale
        var scale = L.control.scale().addTo(map);
        
        // create sidebar
        var sidebar = L.control.sidebar({
            autopan: true
        }).addTo(map);
        
        // add panels to sidebars
        sidebar
            .addPanel({
                id: 'legenda',
                tab: '<i class="fa-solid fa-road"></i>',
                title: '{{ sidebar.legend.title }}',
                pane: `{{ sidebar.legend.pane }}`
            })
            /*.addPanel({
                id: 'naujienos',
                tab: '<i class="fa-solid fa-newspaper"></i>',
                title: '{{ sidebar.news.title }}',
                pane: '{{ sidebar.news.pane }}'
            })*/
            .addPanel({
                id: 'dalintis',
                tab: '<i class="fa-solid fa-share-from-square"></i>',
                title: '{{ sidebar.share.title }}',
                button: () => {
                    shareLocation();
                    showNotification('{{ notify.shared}}');
                }
            })
            .addPanel({
                id: 'kalba',
                tab: '<i class="{{ sidebar.language.icon }}"></i>',
                title: '{{ sidebar.language.title }}',
                button: () => {
                    changeLang();
                    window.location.replace("/{{ changelang }}{{ site.data.sites.vrkr }}"+location.search);
                },
                position: 'bottom'
            })
            .addPanel({
                id: 'klaida',
                tab: '<i class="fa-solid fa-triangle-exclamation"></i>',
                title: '{{ sidebar.error.title }}',
                button: 'https://github.com/kirstukas7/kirstukas7.github.io/issues',
                position: 'bottom'
            })
            .addPanel({
                id: 'pagrindinis',
                tab: '<i class="fa fa-house"></i>',
                title: '{{ sidebar.home.title }}',
                button: '/{{ page.lang }}',
                position: 'bottom'
            });
        
        // set view by query (if present)
        let searchParams = new URLSearchParams(location.search).get("location");
        if (searchParams !== null) {
            let param = searchParams.split('/');
            disableInteraction();
            setTimeout(() => {
                try {
                    map.flyTo([param[1], param[2]], param[0], {
                        animate: true,
                        duration: 2
                    });
                    setTimeout(() => {
                        map.setZoom(param[0]);
                        enableInteraction();
                    }, 2100);
                } catch {
                    enableInteraction();
                    showNotification('{{ notify.locate_error }}');
                };
            }, 300);
        };
        
        function disableInteraction() {
            sidebar.disablePanel('legenda');
            sidebar.disablePanel('dalintis');
            map._handlers.forEach((handler) => {handler.disable()});
        };

        function enableInteraction() {
            sidebar.enablePanel('legenda');
            sidebar.enablePanel('dalintis');
            map._handlers.forEach((handler) => {handler.enable()});
        };
    </script>
    {{ content }}
    <script>
        // create base layers
        var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', { // https://leafletjs.com/reference#tilelayer
            attribution: '&copy <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        var basemaps = {
            "OpenStreetMap": osm
        };
        
        var dataOverlays = [];
        // create data overlays
        dataOverlays[0] = {
            "{{ layer.group }}": {
                "{{ layer.full }}": layers[1][0],
                "{{ layer.minimal }}": layers[0][0]
        }
        };
        dataOverlays[1] = {
            "{{ layer.group }}": {
                "{{ layer.full }}": layers[1][1],
                "{{ layer.minimal }}": layers[0][1]
            }
        };

        var layerControl = L.control.groupedLayers(basemaps, dataOverlays[0], {exclusiveGroups: ["{{ layer.group }}"]}).addTo(map);

        function switchLayer(layer,from,to) {
            layer[from].remove();
            layerControl.remove();
            layerControl = L.control.groupedLayers(basemaps, dataOverlays[to], {exclusiveGroups: ["{{ layer.group }}"]}).addTo(map);
            layer[to].addTo(map);
            layerControl.addTo(map);
        };
    </script>
    {% include notification.html %}
    {% include share.html %}
    {% include kalba.html %}
</body>
</html>
